<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question 1</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/question.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/wave.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<section class="wave-section">
    <div class="container d-flex justify-content-center my-5">
        <h1 class="text-center display-4">Quels types de véhicules ce projet comporte ?</h1>
    </div>
    <div class="bg-transparent container d-flex justify-content-center flex-column mb-5">
        <div class="bg-transparent form-check my-4 text-center">
            <a class="text-decoration-none" th:href="@{/question5-info(answer=${0})}">
                <button type="button" class="btn-basic btn-block btn-lg py-3 rounded">Des rollers et un cheval </button>
            </a>
        </div>
        <div class="bg-transparent form-check my-4 text-center">
            <a class="text-decoration-none" th:href="@{/question5-info(answer=${0})}">
                <button type="button" class="btn-basic btn-block btn-lg py-3 rounded">La fusée Ariane </button>
            </a>
        </div>
        <div class="bg-transparent form-check my-4 text-center">
            <a class="text-decoration-none" th:href="@{/question5-info(answer=${1})}">
                <button type="button" class="btn-basic btn-block btn-lg py-3 rounded">Des voitures électriques et des vélos électriques
                </button>
            </a>
            </label>
        </div>
    </div>
    </div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>