<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question 1</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/question.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="container d-flex justify-content-center flow-column my-5">
    <h1 class="text-center">C’est quoi H2PIYR ?</h1>
</div>
<div class="container d-flex justify-content-center flow-column my-5">
    <h5 class="bg-white white rounded">Le projet de «Corridor Hydrogène pour les régions pyrénéennes» va développer un banc d’essai à taille réelle d’un
        corridor transfrontalier de stations de distribution d’hydrogène pour véhicules automobiles qui reliera les
        régions pyrénéennes d’Espagne et France avec l’Europe du Nord et l’Europe Centrale, là où le développement
        d’infrastructures associées à ce type de mobilité décarbonée est le plus avancé.</h5>
</div>
<div class="text-center my-5">
    <a th:href="@{/question2}">
        <button type="button" class="btn btn-primary center-block">QUESTION SUIVANTE</button>
    </a>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
