<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.0/css/froala_blocks.min.css">
    <link rel="stylesheet" th:href="@{/css/projet.css}">
    <title>Quizz</title>
</head>
<body class="grey">
<section class="fdb-block">
    <div class="col-fill-right" style="background-image: url(images/imgquest5.jpg);">
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-5 text-center">
                <h1>Quels types de véhicules ce projet comporte ?</h1>
                <p class="lead">Le projet comporte 2 véhicules électriques à pile à combustible hydrogène et 10 vélos
                    électriques à pile à combustible H2 utilisés par les partenaires pour développer des démonstrateurs
                    de technologies associés aux stations de distribution d’hydrogène.</p>
                <div class="text-center">
                    <a th:href="@{/question6}">
                        <button type="button" class="btn btn-primary center-block">QUESTION SUIVANTE</button>
                    </a>
                    <a class="accueil" th:href="@{/index}">
                        <button type="button" class="btn btn-primary center-block">ACCUEIL</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>