<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question 1</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/question.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/wave.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<section class="wave-section">
    <div class="container d-flex justify-content-center flex-column my-5">
        <h1 class="text-center display-4">Quel est l’objectif de ce projet ?</h1>
    </div>
    <div class="container d-flex justify-content-center flex-column my-5">
        <h4 class="white rounded"><span class="highlight">H2PiyR</span> constituera un véritable banc de test à échelle réelle pour démontrer les avantages de <span class="highlight">l'utilisation des piles à combustible hydrogène pour véhicules électriques</span> (pile à combustible Véhicules-FCEV).
        </h4>
        <h5><br>En complément, il permettra de :<br><br>
            • créer un réseau de mobilité hydrogène entre les pays de l'Union Européenne,<br>
            • réduire les émissions associées aux véhicules traditionnels,<br>
            • stimuler les économies locales,<br>
            • promouvoir les opportunités d'affaires, en particulier pour les PME/PMI,<br>
            • promouvoir l'innovation dans les technologies de l'hydrogène dans tous les domaines de connaissances nécessaires pour mettre en œuvre le couloir.
        </h5>
    </div>
    <div class="text-center my-5">
        <a th:href="@{/result}">
            <button type="button" class="btn btn-primary center-block">DECOUVRIR MON SCORE</button>
        </a>
    </div>
    </div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
