body {
    width: 100%;
    /*background-image: url('../images/84-desktop-wallpaper.png');*/
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.bolder {
    font-weight: 600;
    line-height: 1.5;
}

.loader {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-3, .display-4 {
    color: black;
}

.btn-basic {
    transition: 0.5s;
}
.btn-basic:hover {
    background-color: #007bff;
    color: white;
}

.quest3map {
    width: 30%;
}

.highlight {
    color: darkblue;
    font-weight: bold;
}

.bouton-bas {
    background-color: white;
    color: blue;
}