.zoom div img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom div:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.4);
}

.villes {
    display: flex;
    justify-content: space-between;
}

img {
    width: 300px !important;
}