<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>À propos</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="../static/css/apropos.css" rel="stylesheet" th:href="@{/css/apropos.css}">
</head>
<body>
<div class="header" th:include="index.html :: fragment-header"></div>
<h3>Les partenaires :</h3>
<div class="partenaires">
    <a href="http://www.calvera.es/fr/"><img alt="image" class="img" src="../static/images/ayuntamiento-de-huesca.jpg" th:src="@{/images/ayuntamiento-de-huesca.jpg}"></a>
    <a href="https://www.edf.fr/"><img alt="image" class="img" src="../static/images/ayuntamiento-de-jaca.jpg" th:src="@{/images/ayuntamiento-de-jaca.jpg}"></a>
    <a href="https://www.zoilorios.com/"><img alt="image" class="img" src="../static/images/calvera-maquinaria-e-instalaciones.jpg" th:src="@{/images/calvera-maquinaria-e-instalaciones.jpg}"></a>
    <img alt="image" class="img" src="../static/images/EDF-logotipo.jpg" th:src="@{/images/EDF-logotipo.jpg}">
    <a href="http://www.calvera.es/fr/"><img alt="image" class="img" src="../static/images/grupo-zoilo-rios.jpg" th:src="@{/images/grupo-zoilo-rios.jpg}"></a>
    <a href="http://www.calvera.es/fr/"><img alt="image" class="img" src="../static/images/logo-h2-impulsion.jpg" th:src="@{/images/logo-h2-impulsion.jpg}"></a>
    <a href="http://www.calvera.es/fr/"><img alt="image" class="img" src="../static/images/logo_feda_q.jpg" th:src="@{/images/logo_feda_q.jpg}"></a>
    <a href="http://www.calvera.es/fr/"><img alt="image" class="img" src="../static/images/logotipo-FHA-socio.jpg" th:src="@{/images/logotipo-FHA-socio.jpg}"></a>
</div>
<div class="container-fluid p-0 pb-3">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.4392990514557!2d1.4285397149429298!3d43.59739406405653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb62f2131681%3A0x62336d5cff38c7f5!2sWild%20Code%20School%20-%20Formations%20d%C3%A9veloppeur%20web%2Fmobile%20et%20data%20analyst!5e0!3m2!1sfr!2sfr!4v1576837408796!5m2!1sfr!2sfr"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
<h3 class="contact">Nous contacter:</h3>
<div class="formulaire">
    <form>
        <div class="nomPrenom">
            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" class="form-control" id="nom" placeholder="Nom">
            </div>
            <div class="form-group">
                <label for="prenom">Prénom :</label>
                <input type="text" class="form-control" id="prenom" placeholder="Prénom">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Addresse email :</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="object">Object :</label>
            <input type="text" class="form-control" id="object" placeholder="Object">
        </div>
        <div class="form-group">
            <label for="question">Question :</label>
            <textarea type="text" class="form-control" id="question" aria-describedby="emailHelp" placeholder="Question"></textarea>
        </div>
        <button>Envoyer</button>
    </form>
</div>
<footer th:include="index.html :: fragment-footer"></footer>
</body>
</html>