<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Accueil</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Newsletter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Email :</label>
                <input type="email">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="medias">
    <ul class="social-media">
        <li><a href="#">
            <ion-icon class="icon-inner" src="../static/images/_ionicons_svg_logo-facebook.svg"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon class="icon-inner" src="../static/images/_ionicons_svg_logo-instagram.svg"></ion-icon>
        </a></li>
    </ul>
</div>
<header>
    <h1>Accueil</h1>
    <ul class="nav justify-content-around">
        <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Quizz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Projet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">À propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Villes</a>
        </li>
    </ul>
    <div class="divider"></div>
</header>
<div class="content">
    <img class="img" src="../static/images/IMG_1651-e1470987244585.jpg">
    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
</div>

<div class="quizz">
    <h3>Le quizz c'est :</h3>
    <p class="content-quizz">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.</p>
    <div class="button">
        <button>Voulez vous commencer le jeu interactif</button>
    </div>
</div>

<div class="medias">
    <ul class="social-media">
        <li><a href="#">
            <ion-icon class="icon-inner" src="../static/images/_ionicons_svg_logo-facebook.svg"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon class="icon-inner" src="../static/images/_ionicons_svg_logo-instagram.svg"></ion-icon>
        </a></li>
    </ul>
</div>
<footer>
    <ul class="nav justify-content-around">
        <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Quizz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Projet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">À propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Villes</a>
        </li>
    </ul>
    <div class="divider"></div>
    <div class="col-md-12">
        <div>
            <span class="signature">
                Made with
                <ion-icon name="heart" src="../static/images/_ionicons_svg_md-heart.svg"> </ion-icon>
                 by iscom & wilder 2019.
            </span>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>$('#basicExampleModal').modal('show');</script>
</body>
</html>