<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Accueil</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header-video.css}">
</head>
<body>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="basicExampleModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Newsletter</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Abonnez-vous à notre Newsletter.</p>
                <p>Tous les mois suivez l'avancée de nos projets dans votre boite de réception !</p>
                <label>Email :</label>
                <input type="email">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Fermer</button>
                <button class="btn btn-primary" type="button">Envoyer</button>
            </div>
        </div>
    </div>
</div>
<div th:replace=" index :: fragment-header">...</div>
<!-------------------HEADER VIDEO------------------------->
<div class="header-video">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source th:src="@{images/video.mp4}" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3 & title-header-video">Projet H2PIYR</h1>
                <p class="lead mb-0">L'hydrogène notre service</p>
            </div>
        </div>
    </div>
</div>

<img alt="logo" class="logo" src="../static/images/LogoH2PiyR.jpg" th:src="@{/images/LogoH2PiyR.jpg}">
<div class="quizz">
    <h3>Le quizz c'est :</h3>
    <p class="content-quizz">Corridor transfrontalier, véhicules électriques à pile à combustible hydrogène, gaz à effet
        de serre, transport durable décarboné… Autant de termes un peu (beaucoup) flous. Alors pour que le projet H2piyR
        n’ait plus de secret pour vous, ce quiz de 7 questions vous a été concocté. À vous de jouer !</p>
    <div class="button">
        <button>Commencer le jeu interactif</button>
    </div>
</div>
<div class="carte">
    <div class="legends">
        <a class="legend" href="#" title="Opérationnel">
            <ion-icon class="opérationnel" name="pin"
                      src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
            Opérationnel</a>
        <a class="legend" href="#" title="En cours">
            <ion-icon class="enCours" name="pin"
                      src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
            En cours</a>
    </div>
    <a href="#" title="ALBI">
        <ion-icon class="albi" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a href="#" title="PAMIERS">
        <ion-icon class="pamiers" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a href="#" title="WALQA">
        <ion-icon class="walqa" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a href="#" title="VALDESPARTERA">
        <ion-icon class="valdespartera" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a th:href="@{/villes}" title="RODEZ">
        <ion-icon class="rodez" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <img alt="map" src="../static/images/carte.png" th:src="@{/images/carte1.png}">
</div>
<div th:replace=" index :: fragment-footer">...</div>
</body>
</html>