<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Accueil</title>
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header-video.css}">
</head>
<body>
<div class="header" th:fragment="fragment-header">
    <div class="medias">
        <ul class="social-media">
            <li><a href="#">
                <ion-icon class="icon-inner" src="../static/images/facebook.svg"
                          th:src="@{/images/facebook.svg}"></ion-icon>
            </a></li>
            <li><a href="#">
                <ion-icon class="icon-inner" src="../static/images/instagram.svg"
                          th:src="@{/images/instagram.svg}"></ion-icon>
            </a></li>
        </ul>
    </div>
    <header>
        <h1 class="title-logo">H2PiyR</h1>
        <ul class="nav justify-content-around">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/index}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/question1}">Quizz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/projet}">Projet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/a-propos}">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/team}">Team</a>
            </li>
        </ul>
        <div class="divider"></div>
    </header>
</div>
<!-------------------HEADER VIDEO------------------------->
<div class="header-video">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source th:src="@{images/Header.mp4}" type="video/mp4" src="">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3 & title-header-video">L'hydrogène c'est pour <span class="demain">demain</span>, maintenant !</h1>
                <p class="lead mb-0">L'hydrogène à notre service</p>
            </div>
        </div>
    </div>
</div>

<img alt="logo" class="logo" src="../static/images/LogoH2PiyR.jpg" th:src="@{/images/LogoH2PiyR.jpg}">
<div class="quizz">
    <h3>Le quizz c'est :</h3>
    <p class="content-quizz">Corridor transfrontalier, véhicules électriques à pile à combustible hydrogène, gaz à effet
        de serre, transport durable décarboné… Autant de termes un peu (beaucoup) flous. Alors pour que le projet H2piyR
        n’ait plus de secret pour vous, ce quiz de 7 questions vous a été concocté. À vous de jouer !</p>
    <div class="button">
        <button th:href="@{/question1}">Commencer le jeu interactif</button>
    </div>
</div>
<div class="carte">
    <div class="legends">
        <a class="legend" href="#" title="Opérationnel">
            <ion-icon class="opérationnel" name="pin"
                      src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
            Opérationnel</a>
        <a class="legend" href="#" title="En cours">
            <ion-icon class="enCours" name="pin"
                      src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
            En cours</a>
    </div>
    <a href="#" title="ALBI">
        <ion-icon class="albi" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a href="#" title="PAMIERS">
        <ion-icon class="pamiers" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a href="#" title="WALQA">
        <ion-icon class="walqa" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a href="#" title="VALDESPARTERA">
        <ion-icon class="valdespartera" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <a th:href="@{/villes}" title="RODEZ">
        <ion-icon class="rodez" name="pin"
                  src="../static/images/pin.svg" th:src="@{/images/pin.svg}"></ion-icon>
    </a>
    <img alt="map" src="../static/images/carte.png" th:src="@{/images/carte1.png}">
</div>
<footer th:fragment="fragment-footer">
    <div class="medias">
        <ul class="social-media">
            <li><a href="#">
                <ion-icon class="icon-inner" src="../static/images/facebook.svg"
                          th:src="@{/images/facebook.svg}"></ion-icon>
            </a></li>
            <li><a href="#">
                <ion-icon class="icon-inner" src="../static/images/instagram.svg"
                          th:src="@{/images/instagram.svg}"></ion-icon>
            </a></li>
        </ul>
    </div>
    <ul class="nav justify-content-around">
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/question1}">Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/projet}">Projet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/a-propos}">À propos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/team}">Team</a>
        </li>
    </ul>
    <div class="divider"></div>
    <span class="signature">
        Made with
        <ion-icon id="heart" name="heart" src="../static/images/heart.svg"
                  th:src="@{/images/heart.svg}"></ion-icon>
         by ISCOM & WILDER 2019.
    </span>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>$('#basicExampleModal').modal('show');</script>
</footer>
</body>
</html>