<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/projet.css}">
    <link href="../static/css/index.css" rel="stylesheet" th:href="@{/css/index.css}">
    <title>Hello, world!</title>
</head>
<body>

<div th:replace=" index :: fragment-header">...</div>

<section class="colored-section" id="title">

    <!-- Nav Bar -->

    <div class="container-fluid">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-6">
                <h1 class="big-heading">Le futur c'est l'hydrogène</h1>
                <button type="button" href="#features" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Découvrir
                </button>
                <!--<button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>-->
            </div>
            <div class="col-lg-6 embed-responsive embed-responsive-16by9 & video-youtube">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d2hQh0e8ALs"
                        allowfullscreen></iframe>
            </div>

        </div>

    </div>

</section>


<!-- podcast1 -->

<section class="white-section" id="features">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-6 embed-responsive embed-responsive-16by9 & video-youtube">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/597931128&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            </div>

            <div class="col-lg-6 & hydrogen">
                <h1 class="small-heading">Hydrogène, la nouvelle énergie durable ?</h1>
                <p>L’hydrogène ou dihydrogène (H2) se présente comme un gaz invisible et inodore.
                    De tous les éléments chimiques, c’est le plus léger.</p>
            </div>
        </div>

    </div>

</section>


<!-- Image -->

<section class="colored-section" id="testimonials">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-6">
                <h1 class="small-heading">L’hydrogène en quelques mots</h1>
                <p class="p-colored-section">C’est également l’élément chimique le plus abondant dans l’univers. Sur
                    Terre, il est rarement présent à l’état pur, mais il entre dans la composition de l’eau et des
                    hydrocarbures. L’hydrogène n’est pas une source d’énergie mais « un vecteur énergétique ». Il doit être produit puis stocké avant d’être utilisé.
                </p>
            </div>

            <div class="col-lg-6">
                <img class="title-image & electron" th:src="@{https://media3.giphy.com/media/l0Iyb2pEevoDThkFW/giphy.gif}" alt="iphone-mockup">
            </div>

        </div>
    </div>

</section>

<!-- SoundClound2 -->

<section class="white-section" id="features">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-6 embed-responsive embed-responsive-16by9 & video-youtube">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CsoTT3AsFqE"
                        allowfullscreen></iframe>
            </div>

            <div class="col-lg-6 & hydrogen">
                <h1 class="small-heading">Le projet H2PIYR</h1>
                <p>Le projet de « Corridor Hydrogène pour les régions pyrénéennes » (H2PIYR), débuter le 1er juillet 2016 pour une durée de 5 ans,
                    a pour objectif de développer un couloir transfrontalier de stations de distribution d’hydrogène pour les véhicules. </p>
            </div>
        </div>
    </div>
</section>

<!-- Image -->

<section class="colored-section & last">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <img class="title-image2" th:src="@{images/mapquestion3.png}" alt="iphone-mockup">
            </div>

            <div class="col-lg-6">
                <h1 class="small-heading">Le projet H2PIYR, qu’est-ce que c’est ?</h1>
                <p class="p-colored-section">Le projet H2PIYR permettra de relier l’Espagne, la France et l’Andorre avec l’Europe du Nord et Centrale,
                    là où le développement d’infrastructures associées à ce type de mobilité décarbonée est le plus avancé.
                    Il comporte un objectif spécifique qui vise à « favoriser le développement de technologies innovantes en matière de ressources naturelles à travers la coopération ».</p>
            </div>
        </div>
    </div>

</section>

<div th:replace=" index :: fragment-footer">...</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

<!-- xmlns:th="http://www.thymeleaf.org" -->